<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="keys" content=""/>
    <meta name="author" content=""/>
      <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/login.css"/>
	<style>
        #tishidiv{
            width: 200px;
            height: 40px;
            position: absolute;
            left:300px;
            top:-55px;
        }
	</style>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <div><a class="navbar-brand" href="index.html" style="font-size:32px;">伴我汽车-后台登录系统</a></div>
        </div>
      </div>
    </nav>

    <div class="container">

      <form  action="/houtai/denglu" method="post" class="form-signin" role="form">
        <h2 class="form-signin-heading"><i class="glyphicon glyphicon-user"></i> 用户登录</h2>
		  <div class="form-group has-success has-feedback">
			<input type="text" class="form-control" name="username" placeholder="请输入登录账号" />
			<span class="glyphicon glyphicon-user form-control-feedback"></span>
		  </div>
		  <div class="form-group has-success has-feedback">
			<input type="password" class="form-control" name="password" placeholder="请输入登录密码" style="margin-top:10px;"/>
			<span    class="glyphicon glyphicon-lock form-control-feedback"  ></span>
              <div id="tishidiv" th:text="${tishi}"></div>
		  </div>
        <div class="checkbox">
          <br/>
           <img id="img" src="/houtai/getImg"><a href="JavaScript:changeCode()">看不清换一张</a><br/>
            <input type="text" id="yanzhengma" width="10px" name="yanzhengma"  />
          <label>
            忘记密码
          </label>
        </div>
      <!--  <a class="btn btn-lg btn-success btn-block" onclick="dologin()" > 登录</a>-->
          <input class="btn btn-lg btn-success btn-block"  type="submit" value="登录"/>
      </form>
    </div>
    <script src="jquery/jquery-2.1.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script>
        //看不清，换一张
       function changeCode() {
           var getTime = new Date().getTime();
            var img =document.getElementById("img");
            $("#img").attr("src","/houtai/getImg?timestamp="+getTime);
       }
    </script>
  </body>
</html>