<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/main.css">
	<style>
	.tree li {
        list-style-type: none;
		cursor:pointer;
	}
	.tree-closed {
	    height : 40px;
	}
	.tree-expanded {
	    height : auto;
	}
	.tou{
	   color:#FFFF00;
       	   
	}
	</style>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <div><img class="navbar-brand" src="img/product-8.jpg"/><a class="navbar-brand" style="font-size:20px;" href="#">“伴我汽车”管理平台</a></div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right" >
            <li style="padding-top:8px;margin-top:16px;">
				<div><span class="tou">时间：</span><span class="tou">2014-78-96</span></div>
			</li>
            <li style="margin-left:10px;padding-top:8px;margin-top:16px;">
				 <div><span class="tou">用户：</span><span class="tou">超级管理员</span></div>
		   
			</li>
			 <li style="margin-left:10px;padding-top:8px;margin-top:16px;">
				 <div><span class="tou">用户：</span><span class="tou">超级管理员</span></div>
		   
			</li>
			<li style="margin-left:10px;padding-top:8px;">
				<a href="#">退出</a>
		   
			</li>
          </ul>
          
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
			<div class="tree">
				<ul style="padding-left:0px;" class="list-group">
					
					<li class="list-group-item tree-closed">
						<span> 会员管理 <span class="badge" style="float:right">1</span></span> 
						<ul style="margin-top:10px;display:none;">
							<li style="height:30px;">
								<a href="user.html"> 会员管理</a> 
							</li>
							
						</ul>
					</li>
					<li class="list-group-item tree-closed">
						<span> 咨讯管理 <span class="badge" style="float:right">4</span></span> 
						<ul style="margin-top:10px;display:none;">
							<li style="height:30px;">
								<a href="auth_cert.html"> 草稿箱</a> 
							</li>
							<li style="height:30px;">
								<a href="auth_adv.html"> 资讯审核</a> 
							</li>
							<li style="height:30px;">
								<a href="auth_project.html"> 资讯发布</a> 
							</li>
							<li style="height:30px;">
								<a href="auth_project.html"> 资讯列表</a> 
							</li>
						</ul>
					</li>
					<li class="list-group-item tree-closed">
						<span> 活动管理 <span class="badge" style="float:right">4</span></span> 
						<ul style="margin-top:10px;display:none;">
							<li style="height:30px;">
								<a href="cert.html"> 活动列表</a> 
							</li>
							<li style="height:30px;">
								<a href="type.html"> 推荐活动</a> 
							</li>
							<li style="height:30px;">
								<a href="process.html"> 类型管理</a> 
							</li>
							<li style="height:30px;">
								<a href="advertisement.html"> 渠道管理</a> 
							</li>
							
						</ul>
					</li>
					<li class="list-group-item tree-closed">
						<span>车型库管理 <span class="badge" style="float:right">6</span></span> 
						<ul style="margin-top:10px;display:none;">
							<li style="height:30px;">
								<a href="auth_cert.html"> 品牌管理</a> 
							</li>
							<li style="height:30px;">
								<a href="auth_adv.html">厂商管理</a> 
							</li>
							<li style="height:30px;">
								<a href="auth_adv.html">车系管理</a> 
							</li>
							<li style="height:30px;">
								<a href="auth_adv.html">车款管理</a> 
							</li>
							<li style="height:30px;">
								<a href="auth_adv.html">参数分类管理</a> 
							</li>
							<li style="height:30px;">
								<a href="auth_adv.html">参数管理</a> 
							</li>
							
						</ul>
					</li>
					<li class="list-group-item tree-closed">
						<span> 标签定义 <span class="badge" style="float:right">1</span></span> 
						<ul style="margin-top:10px;display:none;">
							<li style="height:30px;">
								<a href="auth_cert.html"> 标签定义</a> 
							</li>
							
						</ul>
					</li>
					<li class="list-group-item tree-closed">
						<span>标签管理 <span class="badge" style="float:right">1</span></span> 
						<ul style="margin-top:10px;display:none;">
							<li style="height:30px;">
								<a href="auth_cert.html"> 标签管理</a> 
							</li>
							
						</ul>
					</li>
					<li class="list-group-item tree-closed">
						<span> 系统消息 <span class="badge" style="float:right">1</span></span> 
						<ul style="margin-top:10px;display:none;">
							<li style="height:30px;">
								<a href="auth_cert.html"> 系统消息</a> 
							</li>
							
						</ul>
					</li>
					<li class="list-group-item tree-closed">
						<span> 管理员管理 <span class="badge" style="float:right">1</span></span> 
						<ul style="margin-top:10px;display:none;">
							<li style="height:30px;">
								<a href="admin.html"> 管理员管理</a> 
							</li>
							
						</ul>
					</li>
					<li class="list-group-item tree-closed">
						<span> 角色管理 <span class="badge" style="float:right">1</span></span> 
						<ul style="margin-top:10px;display:none;">
							<li style="height:30px;">
								<a href="role.html"> 角色管理</a> 
							</li>
							
						</ul>
					</li>
					<li class="list-group-item tree-closed">
						<span>个人中心 <span class="badge" style="float:right">1</span></span> 
						<ul style="margin-top:10px;display:none;">
							<li style="height:30px;">
								<a href="auth_cert.html"> 个人中心</a> 
							</li>
							
						</ul>
					</li>
					<li class="list-group-item tree-closed">
						<span> 操作日志 <span class="badge" style="float:right">3</span></span> 
						<ul style="margin-top:10px;display:none;">
							<li style="height:30px;">
								<a href="auth_cert.html"> 操作日志</a> 
							</li>
							
						</ul>
					</li>
					<li class="list-group-item tree-closed">
						<span>网站设置 <span class="badge" style="float:right">3</span></span> 
						<ul style="margin-top:10px;display:none;">
							<li style="height:30px;">
								<a href="admin.html">网站参数设置</a> 
							</li>
							
						</ul>
					</li>
				</ul>
			</div>
        </div>
        
      </div>
    </div>
    <script src="jquery/jquery-2.1.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="script/docs.min.js"></script>
        <script type="text/javascript">
            $(function () {
			    $(".list-group-item").click(function(){
                    // jquery对象的回调方法中的this关键字为DOM对象
                    // $(DOM) ==> JQuery
				    if ( $(this).find("ul") ) { // 3 li
						$(this).toggleClass("tree-closed");
						if ( $(this).hasClass("tree-closed") ) {
							$("ul", this).hide("fast");
						} else {
							$("ul", this).show("fast");
						}
					}
				});
            });
        </script>
  </body>
</html>
